{% extends 'base.html' %}
{% load static %}

{% block htmlHead %}

{% endblock %}


{% block mainContent %}
<div>
    {{detail.title}}
</div>
<div class="relation">
    {{ detail.relation_select }}
</div>
<div class="expression">
    {{ detail.expression }}
    <span style="font-weight: bold;">
        is {{detail.expression_descript_select}} of
        
    </span>
    {{ detail.expression_descript }}
</div>
<div class="image">
    <img src="{{ detail.image.url }}" alt="">
</div>

{% endblock %}