{% extends 'base.html' %}
{% load static %}

{% block htmlHead %}
<link rel="stylesheet" href="{% static 'css/content_detail.css' %}">
{% endblock %}


{% block mainContent %}
<div class="detail-page">
    <div class="detail">
        <div class="detail__image">
            {% if detail.image %}
            <img src="{{ detail.image.url }}">
            {% endif %}
        </div>
        <div class="detail__contents">
            <div class="detail__contents__head">
                <span>{{detail.title}}</span>
                <button class="save-button button 
                {% if is_saved %}
                saved
                {% else %}
                button--orange
                {% endif %}
                " id = "save-button" value="{{ detail.id }}" 
                {% if user.is_authenticated is False %}
                onclick= "signinAlert()"
                {% endif %}
                >
                {% if is_saved %}
                SAVED
                {% else %}
                SAVE
                {% endif %}</button>
            </div>
            <span class="uploader-label">Uploader</span>
            <div class="detail__contents__uploader">
               <div class="content__author"> 
                   <div class="content__author__left"> 
                        <img src="{{ detail.writer.user_image.url }}" class="content__author__left__image"> 
                    </div> 
                    <div class="content__author__right"> 
                        <div class="content__author__right__name"> {{ detail.writer.name }} </div> 
                        <div class="content__author__right__detail">
                            <span class="nativing-orange">{{ follower_num }}</span> followers <span class="skyblue"> {{ detail.writer.user_gender }}</span> {{ detail.writer.user_age }}
                        </div> 
                    </div> 
                </div>
                <button class="follow-button button
                {% if is_following %}
                following
                {% endif %}
                " id = "follow-button" value = "{{ detail.writer.id }}"
                {% if user.is_authenticated is False %}
                onclick= "signinAlert()"
                {% endif %}
                >
                {% if is_following %}
                FOLLOWING
                {% else %}
                FOLLOW
                {% endif %}</button>
            </div>
            <div class="detail__contents__category">
                <div class="detail__contents__category__child">
                    <div class="detail__contents__category__child__head">
                        Relationship
                    </div>
                    <div class="detail__contents__category__child__tags">
                        <span class="tag tag--bigger">
                            {{ detail.relation_select }}
                        </span>
                    </div>
                </div>
                <div class="detail__contents__category__child">
                    <div class="detail__contents__category__child__head">
                        Tags
                    </div>
                    <div class="detail__contents__category__child__tags">
                        {% for tag in detail.tag.all %}
                        <span class="tag tag--bigger">
                            {% if tag.en_name %}
                            {{ tag.en_name }}
                            {% else %}
                            {{ tag }}
                            {% endif %}
                        </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="detail__contents__description">
                <div class="detail__contents__description__head">
                    <span>Key expression</span>
                    <button id = likes-button value="{{ detail.id }}"  
                    {% if user.is_authenticated is False %}
                    onclick= "signinAlert()"
                    {% endif %}
                    >
                        <img src="../../static/img/heart.png">
                    </button>
                </div>
                <div class="detail__contents__description__body">
                    {{ detail.expression }}
                    <span style="font-weight: bold;">is {{detail.expression_descript_select}} of</span>
                    {{ detail.expression_descript }}
                </div>
            </div>
        </div>
    </div>
    <div class="recommended">
        <span>Featured Content</span>
        {% for content in content_list_random %}
          <div class="content">
            <a class="content-link" href="{% url 'content_detail' content.id %}">
                <div class="content__expression"> 
                    "{{ content.title }}"
                </div> 
                <div class="content__title">
                    {{ content.expression }} 
                </div> 
                <ul class="content__tags"> 
                    <li class="tag">{{ content.relation_select }}</li>
                    {% for tag in content.tag.all %}
                    <li class="tag">{{ tag }}</li>
                    {% endfor %}
                </ul> 
                <div class="content__author"> 
                    <div class="content__author__left"> 
                        <img src="{{ content.writer.user_image.url }}" class="content__author__left__image"> 
                    </div> 
                    <div class="content__author__right"> 
                        <div class="content__author__right__name"> {{ content.writer.name }} </div> 
                        <div class="content__author__right__detail"> 
                            <span class="skyblue">{{ content.writer.user_gender }}</span> {{ content.writer.user_age }} 
                        </div> 
                    </div> 
                </div>
              </a>
          </div>
          {% endfor %}
    </div>
</div>


<script src="{% static 'js/save.js' %}"></script>
<script src="{% static 'js/follow.js' %}"></script>
<script src="{% static 'js/likes.js' %}"></script>

{% endblock %}