{% extends 'base.html' %}
{% load static %}

{% block htmlHead %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block mainContent %}
<form method="POST" action="{% url 'accounts_signup' %}" enctype="multipart/form-data">
    <div class="account-area">
        {% csrf_token %}
        <div class="form-box">
            <div class="form-box__title">
                Sign Up
            </div>
            <div class="form-box__label">
                Email
            </div>
            <input name="{{ form.email.name }}" class="form-box__input" required>
            {{ error.email }}
            <div class="form-box__label">
                Username
            </div>
            <input name="{{ form.name.name }}" class="form-box__input" required>
            <div class="form-box__label">
                Password
            </div>
            <input name="password1" type="password" class="form-box__input" required>
            {{ error.password1 }}
            <div class="form-box__label">
                Password Check
            </div>
            <input name="password2" type="password" class="form-box__input" required>
            {{ error.password2 }}
            <div class="form-box__label">
                Date of Birth
            </div>
            <input type="date" name="{{ form.date_of_birth.name }}" class="form-box__input" id="dateinput" max="2013-12-25" required>
            {{ error.date_of_birth }}
            <div class="form-box__label">
                Gender
            </div>
            <div class="form-box__gender-input">
                <input type="radio" id="male" name="{{ form.user_gender.name }}" value="male" required>
                <label class="form-box__gender-button" for="male">Male</label>
                <input type="radio" id="female" name="{{ form.user_gender.name }}" value="female">
                <label class="form-box__gender-button" for="female" id="female_button">Female</label>
            </div>
            {{ error.gender }}
            <div class="form-box__label">
                Profile Picture (optional)
            </div>
            <input name="user_image" type="file" class="form-box__input file-input">            
            {{ error.user_image }}
            <button type="submit" class="form-box__subimt-button">Sign Up</button>
            <div class="form-box__social-login-box">
                <!-- <div class="form-box__social-login-box__top">
                    <hr>
                    <span>or</span>
                    <hr>
                </div>
                <div class="form-box__social-login-box__icon-box">
                    <div class="icon"></div>
                    <div class="icon"></div>
                    <div class="icon"></div>
                </div> -->
                <div class="form-box__login">
                    Already have an account? <a href="{% url 'accounts_login' %}">Please log in.</a>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- <script src="{% static 'js/signup.js' %}"></script> -->
<script>
var today = new Date().toISOString().split('T')[0];
document.getElementById('dateinput').setAttribute('max', today);
</script>

{% endblock %}