.detail-page {
    background-color: #FAFAFA;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 5rem;
    margin-left: 2rem;
}

.detail {
    width: 68.75em;
    min-height: 43.75em;
    box-sizing: border-box;
    background-color: white;
    border-radius: 2em;
    box-shadow: 0 0 1em 0em var(--shadow);
    margin-top: 1.4em;
    padding: 4.625em 2.5em 4.625em 2.8125em;
    display: flex;
    gap: 9em;
}

.detail__image {
    width: 22em;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

.detail__image img {
    width: 100%;
    min-height: 100%;
    object-fit: contain;
    object-position: 50% 0%;
}

.detail__contents {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.detail__contents__head {
    font-size: 1.5em;
    font-family: "NanumSquareRoundB";
    display: flex;
    justify-content: space-between;
}

.uploader-label {
    font-size: 0.9em;
    font-family: 'Quicksand';
    font-weight: bold;
    margin: 2.78em 0 0.7em;
}

.save-button {
    font-size: 0.57em;
    font-family: 'Quicksand';
    border-radius: 2.5em;
    padding: 0.6em 1em;
}

.detail__contents__uploader {
    display: flex;
    justify-content: space-between;
}

.follow-button {
    font-size:0.75em;
    font-family: 'Quicksand';
    border-radius: 2.5em;
    background-color: #EAEAEA;
    padding: 0.6em 1em;
}

.detail__contents__category {
   margin-top: 3em;
    display: flex;
}

.detail__contents__category__child {
    width: 50%;
}

.detail__contents__category__child__head {
    font-size: 0.9em;
    font-family: 'Quicksand';
    font-weight: bold;
}

.detail__contents__category__child__head {
    height: 1.5em;
}

.detail__contents__description {
    margin-top: 4.5em;
}

.detail__contents__description__head {
    display: flex;
    align-items: center;
}

.detail__contents__description__head > button{
    height: 3em;
    font-size: 0.9em;
    font-family: 'Quicksand';
    font-weight: bold;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}

#comments_count {
    display: inline-block;
    color: white;
    background-color: var(--nativing-orange);
    font-size: 0.9em;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    border-radius: 50%;
    position: relative;
    top: -0.5em;
    left: -0.3em;
}

.detail__contents__description__head__like {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#likes-button {
    display: flex;
    align-items: center;
}

.detail__contents__description__head__like img {
    width: 1.8em;
    height: 1.8em;
}

.detail__contents__description__head__like span {
    display: inline-block;
    width: 2em;
    padding-bottom: 0.2em;
    font-family: 'Quicksand';
    font-weight: bold;
    line-height: 3em;
}

.detail__contents__description__body {
    height: 5em;
    border-radius: 1em;
    background-color: #FAFAFA;
    padding: 1em;
    font-size: 0.9em;
    font-family: 'NanumSquareRoundB';
}

#comment_iters {
    margin-bottom: 1rem;
}

.comment__self {
    display: flex;
    height: 4em;
    padding: 0.5em 0;
}

.comment__self__image {
    width: 4em;
    display: flex;
    align-items: center;
}

.comment__body {
    flex: 1;
    border-radius: 1em;
    border: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1.25em;
    font-size: 0.9em;
    font-family: 'NanumSquareRoundR';
    font-weight: bold;
}

.comment__body__writer {
    flex: 1
}

.comment__body__text {
    flex: 1;
    color: #808080;
}

.comment__self input {
    outline: none;
}

.comment__self input:focus {
    box-shadow: 0 0 0 1.5px black;
}

#comment-form button {
    width: 5.6em;
    height: 2.2em;
    border-radius: 1em;
    font-size: 0.9em;
    font-family: 'Quicksand';
    font-weight: bold;
}

.recommended {
    width: 30.375em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
    gap: 1.25em;
}

.recommended > span {
    font-size: 1.1em;
    font-family: 'Quicksand';
}

.tag--bigger {
    font-size: 1em !important;
    padding: 0.1em 0.5em !important;
}
.saved {
    background-color: #707070;
    color: white;
}

.following {
    background-color: #707070;
    color : white;
}

.display-hide {
    display: none;
}

.gray {
    color: #808080;
    border-bottom: 2px solid transparent !important;
}

.disabled {
    background-color: #707070 !important;
    color: white !important;
}