.upper {
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
}


.under {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.under a{
    text-decoration: none;
    color: black;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 15%;
    border-right: 1px black solid;
}

.gender {
    display: flex;
    flex-direction: column;
    border-bottom: black 1px solid;
    padding-bottom: 10px;
}

.age {
    display: flex;
    flex-direction: column;
    border-bottom: black 1px solid;
    padding-bottom: 10px;
}

.main-part{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto 0 auto;
}

#keyword-count {
    font-size: 18px;
}

#keyword-count span {
    color: orange;
    font-weight: bold;
}

.main-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 70%; */
    margin: 0 auto 0 auto;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 1px black solid;
    margin: 20px;
}

.content-title {
    height: 20%;
    width: 100%;
    text-align: center;
    line-height: inherit;
    border-bottom: 1px solid black;
}

.content-relation {
    height: 15%;
    width: 100%;
    text-align: center;
    line-height: inherit;
    border-bottom: 1px solid black;
}

.content-tag {
    height: 15%;
    width: 100%;
    text-align: left;
    line-height: inherit;
    border-bottom: 1px solid black;
}

.content-body {
    height: 65%;
    width: 100%;
    
}

.content-body span {
    font-weight: bold;
}

.display {
    display: none;
}

#re-scan-keywords {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.2em;
    padding: 10px 0;
}

.keyword-box {
    display: flex;
    flex-direction: row;
}

.keyword-del {
    cursor: pointer;
}

.relationships {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}


.do-not-show {
    display: none;
}