.nav__menu__upload a { color: var(--nativing-orange) !important; }

.center {
    width: 100%;
    height: 37.5em;
    font-size: 16px;
    min-height: calc( 100vh - 13.75rem );
}

.center_left {
    width: 21.5%;
    float: left;
    text-align:center;
    display: inline; 
}

.center_right {
    width: 78.5%;
    float: right;
  
}

.card {
    background: #FAFAFA;
    border-radius: 13px;
    display: inline-block;
    height: 31.5em;
    margin: 1rem;
    position: relative;
    width: 65rem;
}

.card_left {
    width: 35%;
    float: left;
    display: inline; 
}

.card_right {
    margin: 2.5rem;
    width: 56%;
    float: right; 
    display: inline; 
}

.picture {
    background: #CFCFCF;
    border-radius: 13px;
    display: inline-flex;
    height: 21em;
    margin: 2.5rem;
    padding: 1rem;
    position: relative;
    width: 75%;
    justify-content: center;
    align-items: center;
}

#preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Fline_left {
    width: 50%;
    float: left;
}

.Fline_right {
    width: 30%;
    float: right; 
}

.image_button {
    width: 17em;
    height: 2em;
    left : 3.5em;
    top : -2em;
    position: relative;
    border:0px;
    outline:0px;   
}

.cancel_button {
    background : #EAEAEA ;
    width: 5.6em;
    height: 2em;
    border-radius: 1em;
    font-family: 'Quicksand';
    left : 26em;
    position: relative;
    font-size: 0.85em;
}

.upload_button {
    width: 5.6em;
    height: 2em;
    border-radius: 1em;
    font-family: 'Quicksand';
    left : 26.5em;
    position: relative;
    font-size: 0.85em;
}

.caution{
    font-size: 0.55em;
    color: #AEAEAE;
    font-family: 'NanumSquareRoundR';
}

.subject{
    font-size: 0.85em;
    font-weight: bold;
    padding: 0.2em 0.1em;
    font-family: 'NanumSquareRoundR';
}

.title_input {
    background : #ffffff ;
    width: 26em;
    height: 2.7em;
    border-radius: 1em;
    position: relative;
    font-size: 0.75em;
    border:0px;
    outline:0px;   
}

.expression_tag_input {
    background : #ffffff ;
    width: 40em;
    height: 2.7em;
    border-radius: 1em;
    position: relative;
    font-size: 0.75em;
    border:0px;
    outline:0px;
}

.drop_down {
    background : #ffffff ;
    width: 8em;
    height: 2em;
    border-radius: 1em;
    position: relative;
    font-size: 0.75em;
    border:0px;
    outline:0px;
    top: 1em;
}

.drop_down_relation {
    background : #ffffff ;
    width: 8em;
    height: 2em;
    border-radius: 1em;
    position: relative;
    font-size: 0.75em;
    border:0px;
    outline:0px;
}

.content_subject{
    font-size: 1em;
    font-weight: bold;
    font-family: 'NanumSquareRoundR';
}

.content_subject_orange{
    font-family: 'NanumSquareRoundR';
    font-size: 1em;
    font-weight: bold;
    color: #F2711C;
    margin-left: 3em;
}

.mychanel{
    font-family: 'QuickSand';
    font-size: 1.3em;
    font-weight: bold;
}

.circle {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin:0 auto;
}

.username{
    font-size: 1.2em;
    font-family: 'NanumSquareRoundR';
}

.side_head{
    font-size: 1em;
    font-family: 'NanumSquareRoundR';
}

.side{
    font-size: 0.8em;
    font-family: 'QuickSand';
}


