{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block htmlHead %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <title>Nativing</title>
</head>

<body>
    <div class="nav">
        <a href ="{% url 'main' %}" class="nav__logo">
            Nativing.
        </a>
        <div class="nav__search">
            <form action = "{% url 'explore' %}">
                <label><input type="submit" class="hidden"><img src="{% static 'img/loupe.png' %}"></label>
                <input type="text" name = "keyword" placeholder="What do you want to learn?">
                <button type="submit"></button>
            </form>
        </div>
        <ul class="nav__menu">
            <li class="nav__menu__explore">
                <a href="{% url 'explore' %}">Explore</a>    
            </li>
            <li class="nav__menu__center">
                <a style="cursor: pointer;"
                {% if user.is_authenticated %}
                href="{% url 'learning' %}" 
                {% else %}
                onclick="signInAlert()"
                {% endif %}
                >My Learning Center</a>
            </li>
            <li class="nav__menu__upload">
                <a href="{% url 'content_upload' %}">Upload</a>
            </li>
        </ul>
        <div class="nav__account">
            {% if user.is_authenticated %}
                <div class="nav__account__user">
                    <img src = "{{ user.user_image.url }}">
                    <span>{{ user.name }}</span>
                </div>
                <a href="{% url 'accounts_logout' %}">
                    <button class="nav__account__button button--orange">
                        Log out
                    </button>
                </a>  

            {% else %}
            <a href="{% url 'accounts_login' %}">
                <button class="nav__account__button button--white">
                    Sign in
                </button>
            </a>
            <a href="{% url 'accounts_signup' %}">
                <button class="nav__account__button button--orange">
                    Register
                </button>
            </a>    
            {% endif %}
        </div>
    </div>
    {% block mainContent %}
    {% endblock %}
    <div class="footer">
        <div class="footer__logo">
            Nativing.
        </div>
        <span class="footer__text">
            Ⓒ 2021, Nativing web site. Developed by cau likelion 9th.
        </span>
        <div class="footer__logo">           
        </div>
    </div>
</body>

<script>
    function signInAlert(event){
        // event.preventDefault();
        alert("You should sign-in first!");
    }

</script>

</html>