{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block htmlHead %}
    {% endblock %}
    <title>Nativing</title>
</head>

<body>
    <a href = "{% url 'index' %}">홈페이지</a>
    <a href = "{% url 'content_upload' %}">글 작성</a>
    <a href = "{% url 'explore' %}">explore</a>
    <form action = "{% url 'explore' %}">
        <input type="text" name = "keyword" placeholder="검색하셈">
        <button type="submit"></button>
    </form>


    <br>

    {% block mainContent %}
    {% endblock %}
</body>

</html>