.account-area {
    min-height: calc( 100vh - 13.75rem );
    background: url('../img/loginbackgorund.png') no-repeat center center;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-blend-mode: multiply;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background-color: white;
    width: 40em;
    box-sizing: border-box;
    border-radius: 1em;
    padding: 3em 6em;
    font-family: 'Quicksand';
}

.form-box__title {
    font-size: 3em;
    font-family: 'Quicksand';
    margin-bottom: 0.7em;
}

.form-box__label {
    font-size: 1em;
    font-family: 'Quicksand';
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.form-box__input {
    width: 100%;
    height: 3em;
    box-sizing: border-box;
    border-radius: 1em;
    border: 1px solid #DEDEDF;
    padding: 1em;
    outline: none;
}

.file-input {
    padding: 0.6em 1em;
}

.form-box__input:focus {
    box-shadow: 0 0 0 2px black;
}

.date-input {
    height: 3em;
    border-radius: 1em;
    background-color: transparent;
}

.form-box__remember-me {
    display: flex;
    align-items: center;
}

.form-box__gender-input {
    height: 3.5em;
}

.form-box__gender-button {
    background-color: white;
    font-size: 1em;
    font-family: 'Quicksand';
    border: 1px solid #DEDEDF;
    border-radius: 0.5em;
    padding: 0.6em 1em;
    margin-right: 0.8em;
    position: relative;
    left: -1rem;
    top: 0.7rem;
    z-index: 2;
}

input[type=radio] {
    width:0.1rem;
    height: 0.1rem;
}

input[type=radio]:checked + label{
    background-color: var(--nativing-orange);
    color: white;
}

#female_button {
    left:-1.6rem;
}

/* .form-box__gender-button--selected {
    background-color: var(--nativing-orange);
    color: white;
} */

.form-box__subimt-button {
    width: 100%;
    height: 3.5em;
    border-radius: 0.5em;
    background-color: var(--nativing-orange);
    margin-top: 3.5em;
    font-size: 1rem;
    font-family: 'Quicksand';
    color: white;
}

.form-box__social-login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
}

.form-box__social-login-box__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    padding: 0 20%;
}

.form-box__social-login-box__top span {
    padding-bottom: 0.25em;
}

.form-box__social-login-box__icon-box {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 2em 0;
}

.icon {
    width: 4em;
    height: 4em;
    border-radius: 2em;
    border: 1px solid black;
}

hr {
    box-sizing: border-box;
    flex: 1;
    height: 0;
    border: 0.5px solid #707070;
    background-color: #707070;
}

.form-box__login {
    text-align: center;
    font-size: 1em;
    font-family: 'Quicksand';
}

.form-box a {
    color: #2185D0;
    text-decoration: none;
}

.errorlist {
    margin: 0;
    padding: 0.3em 0;
    list-style: none;
}

.errorlist li {
    color: red;
    font-family: 'Lato';
}