/* global settings */
:root {
    --nativing-orange: #F2711C;
    --shadow: #00000028;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
}

button {
    background-color: white;
    border: none;
}

button:hover {
    cursor: pointer;
}

.invisible {
    display: none;
}

.hidden {
    display: none;
}

.content-link {
    color: black;
    text-decoration: none;
}

.button--orange {
    background-color: var(--nativing-orange);
    color: white;
}

.content {
    width: 15.625em !important;
    height: 11.25em;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 1em;
    border: 2px solid var(--shadow);
    box-shadow: 0.2em 0.2em 0.2em 0px var(--shadow);
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.content__expression {
    font-family: 'NanumSquareRoundEB';
    font-size: 1.125em;
    margin-bottom: 5px;
}

.content__title {
    font-family: 'NanumSquareRoundR';
    font-size: 0.875em;
}

.content__tags {
    display: flex;
    overflow: hidden;
    padding: 0px;
    margin: 1em 0px 1.5em;
}

.tag {
    min-width: 2em;
    height: 1.25em;
    padding: 0 0.5em;
    background-color: #3e99ce;
    border-radius: 0.625em;
    margin-right: 0.9em;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.25em;
    color: white;
    list-style: none;
}

.tag--relation {
    background-color: #51CE3E;
}

.content__author {
    height: 2.5em;
    display: flex;
}

.content__author__left {
    width: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__author__left__image {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.content__author__right {
    padding-left: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__author__right__name {
    font-family: 'NanumSquareRoundB';
    font-size: 1.125em;
}

.content__author__right__detail {
    font-family: 'QuickSand';
    font-size: 0.875em;
}

.nativing-orange {
    color: var(--nativing-orange) !important;
}

.skyblue {
    color: #4E89AE;
}

.pink {
    color: #fd1dcd;
}

.content--small {
    font-size: 1rem;
}

.content--big {
    font-size: 1.2rem;
    transition: transform 0.7s;
}


@font-face { 
    font-family: 'QuentinPro'; 
    src: url(../fonts/QuentinPro.ttf) format('truetype'); 
}

@font-face { 
    font-family: 'Quicksand'; 
    src: url(../fonts/Quicksand-SemiBold.ttf) format('truetype'); 
}

@font-face { 
    font-family: 'Lato'; 
    src: url(../fonts/Lato-Regular.ttf) format('truetype'); 
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url(../fonts/NanumSquareRoundR.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundB';
    src: url(../fonts/NanumSquareRoundB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url(../fonts/NanumSquareRoundEB.ttf) format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SourceSansPro-SemiBold.ttf) format('truetype');
}
