.featured-content {
    background: linear-gradient(to bottom, #EAEAEA, #EAEAEA 85%, white 100%);
    height: 35rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2.5rem;
    gap: 2.5rem;
}

.screen {
    padding: 3rem 3rem;
    height: 30rem;
}

.featured-content > span {
    font-size: 2em;
    font-family: 'QuickSand';
    font-weight: bold;
}

.featured-content__content-box {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    gap: 6rem; */
    padding: 0 1rem;
}

.categorized-content {
    box-sizing: border-box;
    padding: 1.25rem 7rem 1.25rem 6.75rem;
}

.filtered-content {
    margin-top: 2.6rem;
    padding: 1rem 1rem 0;
    font-family: 'SourceSansPro';
    font-size: 2rem;
}

.filtered-content__content-box {
    margin-top: 1rem;
    padding: 0 1rem;
    /* display: flex;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 0.2em;
    gap: 3rem; */
}

.content {
    margin: 1.5em;
}

.content:hover {
    box-shadow: 0em 0em 1.5rem 0.5rem var(--shadow);;
}